@font-face {
  font-family: 'siyuan';
  src: url('~@/style/base/fonts/siyuan/siyuan.eot');
  src:
    url('~@/style/base/fonts/siyuan/siyuan.eot?#font-spider') format('embedded-opentype'),
    url('~@/style/base/fonts/siyuan/siyuan.woff') format('woff'),
    url('~@/style/base/fonts/siyuan/siyuan.ttf') format('truetype'),
    url('~@/style/base/fonts/siyuan/siyuan.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'feichi';
  src: url('~@/style/base/fonts/feichi/feichi.eot');
  src:
    url('~@/style/base/fonts/feichi/feichi.eot?#font-spider') format('embedded-opentype'),
    url('~@/style/base/fonts/feichi/feichi.woff') format('woff'),
    url('~@/style/base/fonts/feichi/feichi.ttf') format('truetype'),
    url('~@/style/base/fonts/feichi/feichi.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tuzi';
  src: url('~@/style/base/fonts/tuzi/tuzi.eot');
  src:
    url('~@/style/base/fonts/tuzi/tuzi.eot?#font-spider') format('embedded-opentype'),
    url('~@/style/base/fonts/tuzi/tuzi.woff') format('woff'),
    url('~@/style/base/fonts/tuzi/tuzi.ttf') format('truetype'),
    url('~@/style/base/fonts/tuzi/tuzi.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}